* {
    font-family:Arial, Helvetica, sans-serif;
}

bodyp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

#datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

h1 {
    text-shadow: 10px 20px 20px grey;
}

h2 {
    color: red;
    font-style: italic;
    align-self: flex-end;
}

#elementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.tabla {
    margin-top: 50px;
    display: table;
    border: 1px solid black;
    border-collapse: collapse;
    width: 1400px;
}

.tabla > * {
    border: 3px solid black;
}

.cabecera {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
}

.cabeza {
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: antiquewhite;
}

.fila {
    display: table-row;
    border: 1px solid black;
    background-color: green;
}

.col {
    display: table-cell;
    padding: 12px;
    background: #ddd;
    min-width: 120px;
    text-align: center;
}

.barato {
    background-color:darkseagreen;
    font-style: oblique;
    color: rgba(0, 0, 0, 0.637);
}

.atras {
    border: 2px solid darkkhaki;
    border-radius: 10px;
    background-color: darkolivegreen;
    color: darkkhaki;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.atras:hover {
    background-color: rgb(64, 80, 36);
    box-shadow: 10px 10px 30px rgb(45, 56, 25);
    color: rgb(199, 194, 125);
}

.atras:active {
    background-color: rgb(47, 59, 26);
    box-shadow: 10px 10px 40px rgb(52, 65, 30);
    color: rgb(243, 237, 158);
}